.calendar-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.month-grid--container {
    display: grid;
    grid-template-columns: 7fr;
    grid-template-rows: 5fr;
}