:root {
    --almost-black: hsl(0, 0%, 8%);
    --medium-grey: hsl(0, 0%, 41%);
    --almost-white: hsl(0, 0%, 98%);
}

.topMenu--container {
    min-width: 0;
    width: 100vw;
    height: 50px;
    margin-bottom: 2vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.topMenu-list--container {
    /*width: 30%;*/
    display: flex;
    gap: 50px;
}

.menu-list {
    width: 100%;
    /*margin-top: 10px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    list-style: none;
    color: var(--medium-grey);
}

.topMenu-button--container {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.menuButton {
    /*width: 100px;*/
    height: 30px;
    border: none;
    /*font-weight: bold;*/
    color: var(--medium-grey);
    background: var(--almost-white);
    outline: none;
    cursor: pointer;
}
.menuButton:hover {
    color: var(--almost-black);
}

.menu-item {
    position: relative;
}


.registerButton {
    padding: 0 5px;
    margin-left: 10px;
    color: var(--medium-grey);
    border: 2px solid var(--medium-grey);
    border-radius: 10px;
}

.registerButton:hover {
    border-color: var(--almost-black);
    color: var(--almost-black);
}


.dropDown ul {
    z-index: 12;
    position: absolute;
    /*left: -50px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 150px;
    padding: 20px;
    list-style: none;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 26px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 26px -16px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 26px -16px rgba(66, 68, 90, 1);
}
.dropDown ul li {
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
    width: 120px;
}

.dropDown ul li:hover {
    color: var(--almost-black);
    font-weight: bold;
}

.dropDown ul li img {
    margin-right: 10px;
}

.dimmer {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 80vh;
    background: transparent;
    z-index: 10;
}

.topMenu--container a {
    display: inline-block;
    height: 100%;
    width:100%;
    line-height: 30px;
    color: var(--medium-grey);
    text-decoration: none;
}

.topMenu--container a:hover, .topMenu-button--container a:hover{
    color: var(--almost-black);
    /*font-weight: bolder;*/
}