.esotiq-button {
    width: 70px;
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esotiq-button button {
    vertical-align: center;
    text-align: center;
}